################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Vehiculo/.vs/Vehiculo/FileContentIndex
/.gitignore
